<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action='/newNote' method='get'><input type='submit' value='Create new Note'></form>
<form action=\"/sort?orderBy='orderBy'\" method='get'>
    <input type='submit' name='orderBy' value='By finish Date'>
    <input type='submit' name='orderBy' value='By created Date'>
    <input type='submit' name='orderBy' value='By Importance'>
</form>