<form method="post">

    <div class="form_new_note">
        <label id="title_label" for="title">Title</label>
        <input name="title" type="text" id="title" value="" required>
        <label id="description_label" for="description">Description</label>
        <textarea name="description" id="description"></textarea>
        <label id="importance_label" for="importance">Importance</label>
        <input name="importance" type="range" id="importance" min="1" max="5" value="">
        <label id="until_label" for="until">Due to</label>
        <input name="until" type="date" id="until" value="">
    </div>

    <label id="note_finished">
        <input type="checkbox" name="finished">
        Done
    </label>

    <input type="hidden" name="created" value="">

    <div id="button_submit">
        <button type="submit" id="save"></button>
        <a href="/" class="button" id="cancel">Cancel</a>
    </div>

</form>