body
  max-width: 100rem
  margin: 0 auto
  padding: 2rem
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

h1
  color: #32488b

h2
  color: #32488b

.head
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  margin-bottom: 0.5rem

.head > div:nth-child(2)
  margin-left: auto

.body
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  margin-bottom: 2.5rem

.body > div:nth-child(4)
  margin-left: auto
  
.button
  background-color: #efefef
  color: #32488b
  border: solid 1px #8d9db6
  border-radius: 0.5rem
  width: 180px
  padding: 10px 15px
  text-align: center
  font-size: 16px

.button:hover
  background-color: aliceblue
  box-shadow: 0px 3px 8px
  cursor: pointer

.form_new_note, #task_box, #empty_list
  background-color: #deeaee
  color: #32488b
  border: dotted 1px #8d9db6
  border-radius: 0.5rem
  padding: 0.5rem

#note_list
  list-style: none

#save
  width: 300px